/* font file  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* css bootstrap media query variable  */
/* default fonts  */
body {
  font-family: "Poppins", sans-serif !important;
}

.main__pri {
  background-color: #c74741 !important;
}

.main__dark {
  background-color: #921d22 !important;
}

.main__light {
  background-color: #fed2ce !important;
}

.text__pri {
  color: #c74741 !important;
}

.text__dark {
  color: #921d22 !important;
}

.text__light {
  color: #fed2ce !important;
}

.bg__sil {
  background-color: #d3d3d3 !important;
}

.text__sil {
  color: #d3d3d3 !important;
}

.para {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #3d3d3d;
  mix-blend-mode: normal;
}
@media only screen and (min-width: 768px) {
  .para {
    font-size: 16px;
  }
}
@media only screen and (min-width: xl) {
  .para {
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0.01em;
  }
}

.sm-para {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.01em;
}
@media only screen and (min-width: 1200px) {
  .sm-para {
    line-height: 170%;
    letter-spacing: 0.02em;
  }
}

.most-sm-para {
  font-size: 10px !important;
  line-height: 140% !important;
  letter-spacing: 0.01em !important;
}

h1,
.h1 {
  font-size: 40px !important;
  line-height: 100% !important;
}
@media only screen and (min-width: 768px) {
  h1,
.h1 {
    font-size: 46px !important;
  }
}
@media only screen and (min-width: 1200px) {
  h1,
.h1 {
    font-size: 58px !important;
  }
}

h2,
.h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
}
@media only screen and (min-width: 768px) {
  h2,
.h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1200px) {
  h2,
.h2 {
    font-size: 46px;
  }
}

h3,
.h3 {
  font-size: 18px !important;
  line-height: 120% !important;
  letter-spacing: 1% !important;
}
@media only screen and (min-width: 768px) {
  h3,
.h3 {
    line-height: 110% !important;
  }
}
@media only screen and (min-width: 1200px) {
  h3,
.h3 {
    font-size: 22px !important;
    line-height: 120% !important;
  }
}

.cus__btn, .navbar .contact,
.navbar .contact-btn {
  font-weight: 700;
  font-size: 10px;
  text-align: center;
  letter-spacing: 8%;
  padding: 10px 23px;
  text-transform: uppercase;
  border-radius: 0px !important;
  text-decoration: none;
  border: 0px solid transparent;
}
@media only screen and (min-width: 1200px) {
  .cus__btn, .navbar .contact,
.navbar .contact-btn {
    line-height: 100%;
    letter-spacing: 0.08em;
    padding: 14px 32px;
  }
}

/* navbar  */
.navbar a svg {
  width: 72px;
  height: 22px;
}
@media only screen and (min-width: 768px) {
  .navbar a svg {
    width: 82px;
    height: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar a svg {
    width: 105px;
    height: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar .contact {
    margin-right: 50px !important;
  }
}

#main {
  padding-top: 65px;
}
@media only screen and (min-width: 768px) {
  #main .container {
    position: relative;
    z-index: 200;
  }
}
#main .container .text__wrap {
  margin-bottom: 50px;
}
#main .container .heading {
  margin-bottom: 35px;
}
@media only screen and (min-width: 768px) {
  #main .container .heading {
    margin-bottom: 30px;
  }
}
#main .container .heading h1 {
  max-width: 285px;
  letter-spacing: -1.5%;
}
@media only screen and (min-width: 768px) {
  #main .container .heading h1 {
    max-width: 330px;
    letter-spacing: -0.015em;
  }
}
@media only screen and (min-width: 1200px) {
  #main .container .heading h1 {
    max-width: 455px;
  }
}
#main .container .mb {
  margin-bottom: 35px;
  width: 90%;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  #main .container .mb {
    margin-bottom: 45px;
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  #main .container .mb {
    width: 455px;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 768px) {
  #main .img__container {
    position: relative;
    z-index: 100;
  }
}
#main .container-fluid {
  padding: 0px !important;
}
#main .img__container {
  overflow-x: hidden;
}
#main .img__container img {
  transform: translateX(32px);
}
@media only screen and (min-width: 768px) {
  #main .img__container img {
    transform: initial;
  }
}
@media only screen and (min-width: 1200px) {
  #main .btn__wrapper {
    margin-top: 50px;
  }
}
#main .main__texts {
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  #main .main__texts {
    width: 50% !important;
    margin-bottom: 75px;
  }
}
@media only screen and (min-width: 1200px) {
  #main .main__texts {
    margin-bottom: 100px;
  }
}

.form-container {
  transition: width 1s;
}
@media only screen and (min-width: 768px) {
  .form-container {
    position: absolute;
    right: 0px;
    top: 150px;
    z-index: 500;
    width: 45% !important;
    max-width: 430px;
  }
}
@media only screen and (min-width: 1200px) {
  .form-container {
    width: 100% !important;
    max-width: 100%;
  }
}
.form-container .form-check {
  margin-top: 25px;
}

@media only screen and (min-width: 1200px) {
  .form__wrap {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1400px) {
  .form__wrap {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}

#main__form {
  transition: all 1s;
  padding: 50px 32px;
}
@media only screen and (min-width: 1200px) {
  #main__form {
    width: 45%;
    margin-left: auto;
    padding: 72px 95px !important;
  }
}
#main__form .sm-para {
  max-width: 355px;
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  #main__form .sm-para {
    line-height: 150%;
    letter-spacing: 0.04em;
  }
}
@media only screen and (min-width: 1400px) {
  #main__form .sm-para {
    line-height: 170%;
    letter-spacing: 0.02em;
  }
}
#main__form .form-floating {
  margin-bottom: 25px;
}
@media only screen and (min-width: 1200px) {
  #main__form .form-floating {
    margin-bottom: 35px;
  }
}
#main__form label {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
}
#main__form input {
  padding-top: 0px !important;
  padding-bottom: 5px !important;
  border: 1px solid #ffffff;
}
@media only screen and (min-width: 1200px) {
  #main__form input {
    padding-bottom: 10px !important;
  }
}
#main__form .btn__wrapper {
  margin-top: 35px;
}

.container__space {
  padding-top: 108px !important;
  padding-bottom: 108px !important;
}
@media only screen and (min-width: 768px) {
  .container__space {
    padding-top: 65px !important;
    padding-bottom: 65px !important;
  }
}
@media only screen and (min-width: 992px) {
  .container__space {
    padding-top: 90px !important;
    padding-bottom: 90px !important;
  }
}

#card-list .icon {
  width: 30%;
}
@media only screen and (min-width: 768px) {
  #card-list .icon {
    width: initial !important;
    text-align: left !important;
    margin-left: 15px;
  }
}
#card-list .texts {
  width: 65%;
}
@media only screen and (min-width: 768px) {
  #card-list .texts {
    width: initial !important;
  }
}

#table .border-md-bottom {
  border-bottom: 1px solid #d3d3d3 !important;
}

/*# sourceMappingURL=style.css.map */
