/* font file  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* css bootstrap media query variable  */
$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// mixing
@mixin resp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}
/* default fonts  */
body {
    font-family: "Poppins", sans-serif !important;
    // overflow-x: hidden;
}
// default color
$primary: #c74741 !important;
$primary__dark: #921d22 !important;
$primary__light: #fed2ce !important;
$sliver: #D3D3D3;
// default style
.main__pri {
    background-color: $primary;
}
.main__dark {
    background-color: $primary__dark;
}
.main__light {
    background-color: $primary__light;
}
.text__pri {
    color: $primary;
}
.text__dark {
    color: $primary__dark;
}
.text__light {
    color: $primary__light;
}
.bg__sil {
    background-color: $sliver!important;
}
.text__sil {
    color: $sliver!important;
}
// para
.para {
    font-size: 14px;
    @include resp($md) {
        font-size: 16px;
    }
    @include resp(xl) {
        font-size: 18px;
    }
}

// heading
h1,
.h1 {
    font-size: 40px !important;
    line-height: 100% !important;
    letter-spacing: 0% !important;
    @include resp($md) {
        font-size: 46px !important;
        letter-spacing: 1% !important;
    }
    @include resp($xl) {
        font-size: 58px !important;
        letter-spacing: 0% !important;
    }
}
h2,
.h2 {
    font-size: 32px !important;
    line-height: 100% !important;
    letter-spacing: 0px;
    margin-bottom: 0px;
    @include resp($md) {
        font-size: 36px !important;
    }
    @include resp($xl) {
        font-size: 46px !important;
    }
}
h3,
.h3 {
    font-size: 18px !important;
    line-height: 120% !important;
    letter-spacing: 1% !important;
    @include resp($md) {
        line-height: 110% !important;
    }
    @include resp($xl) {
        font-size: 22px !important;
        line-height: 120% !important;
    }
}

// custom btn
.cus__btn {
    color: white !important;
    border: 0;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 12px 28px;
    border-radius: 0px;
}
/* navbar  */
.navbar .contact,
.navbar .contact-btn {
    font-weight: 600;
    font-size: 13px;
    @include resp($sm) {
        font-size: 15px;
    }
    @include resp($xl) {
        font-size: 16.5px;
    }
}

// main section
#main {
    padding-top: 65px;
    .container {
        @include resp($md) {
            position: relative;
            z-index: 200;
        }
    }
    .img__container {
        @include resp($md) {
            position: relative;
            z-index: 100;
        }
    }
}

.container__space {
    @include resp($md) {
        padding-top: 65px !important;
        padding-bottom: 65px !important;
    }
    @include resp($lg) {
        padding-top: 90px !important;
        padding-bottom: 90px !important;
    }
}

// card list
#card-list {
    .icon {
        width: 30%;
        @include resp($md) {
            width: initial !important;
            text-align: left!important;
            margin-left: 15px;
        }
    }
    .texts {
        width: 65%;
        @include resp($md) {
            width: initial !important;
        }
    }
}

// table style 
#table {
    .table__nav {

    }
    .border-md-bottom {
        border-bottom: 1px solid $sliver!important;
    }
}

